{#
# Copyright (C) 2023 Svea Payments Oy
#
# NOTICE OF LICENSE
#
# This source file is subject to the GNU Lesser General Public License (LGPLv2.1)
# that is bundled with this package in the file LICENSE.
# It is also available through the world-wide-web at this URL:
# https://www.gnu.org/licenses/lgpl-2.1.html
#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <h3 class="card-header">
                <i class="material-icons">payment</i>
                {{ 'Payment Attempt Details'|trans({}, 'Modules.Maksuturva.Admin') }}
            </h3>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <a href="{{ path('maksuturva_payment_attempts') }}" class="btn btn-secondary">
                            <i class="material-icons">arrow_back</i>
                            {{ 'Back to List'|trans({}, 'Admin.Actions') }}
                        </a>
                    </div>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 200px;">{{ 'ID'|trans({}, 'Admin.Global') }}</th>
                            <td>{{ payment.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Cart ID'|trans({}, 'Modules.Maksuturva.Admin') }}</th>
                            <td>
                                {% if payment.cart_id > 0 %}
                                    <a href="{{ path('admin_carts_view', {cartId: payment.cart_id}) }}" target="_blank">
                                        {{ payment.cart_id }}
                                        <i class="material-icons">open_in_new</i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'Order ID'|trans({}, 'Modules.Maksuturva.Admin') }}</th>
                            <td>
                                {% if payment.order_id > 0 %}
                                    <a href="{{ path('admin_orders_view', {orderId: payment.order_id}) }}" target="_blank">
                                        {{ payment.order_id }}
                                        <i class="material-icons">open_in_new</i>
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'Attempt Number'|trans({}, 'Modules.Maksuturva.Admin') }}</th>
                            <td>#{{ payment.attempt }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Payment ID'|trans({}, 'Modules.Maksuturva.Admin') }}</th>
                            <td><code>{{ payment.pmt_id }}</code></td>
                        </tr>
                        <tr>
                            <th>{{ 'Status'|trans({}, 'Admin.Global') }}</th>
                            <td><span class="badge badge-secondary">{{ payment.status }}</span></td>
                        </tr>
                        <tr>
                            <th>{{ 'Created'|trans({}, 'Admin.Global') }}</th>
                            <td>{{ payment.date_add }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
